04_internet_of_wands/node-red/dev-flows.json
[
    {
        "id": "26a9dc3e.c710b4",
        "type": "tab",
        "label": "save_iow_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1026e70.97abb",
        "type": "tab",
        "label": "zip_data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52fd326.03254cc",
        "type": "mqtt-broker",
        "name": "Mosquito Broker",
        "broker": "mosquitto",
        "port": "1883",
        "tls": "",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b8193018.b1958",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9a42c44f.4eb0b8",
        "type": "ui_group",
        "name": "sensor_charts",
        "tab": "3a0cc431.74360c",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "3a0cc431.74360c",
        "type": "ui_tab",
        "name": "Sensor Charts",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60c94581.ad625c",
        "type": "ui_group",
        "name": "Participation",
        "tab": "522b8212.8a322c",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "522b8212.8a322c",
        "type": "ui_tab",
        "name": "Participation",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "49a4a8f7.434758",
        "type": "mqtt in",
        "z": "26a9dc3e.c710b4",
        "name": "get_training_sample",
        "topic": "training",
        "qos": "2",
        "datatype": "auto",
        "broker": "52fd326.03254cc",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "34632660.a39faa"
            ]
        ]
    },
    {
        "id": "34632660.a39faa",
        "type": "json",
        "z": "26a9dc3e.c710b4",
        "name": "parse_as_json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "7e143208.28f04c",
                "f0d6a188.19d9e",
                "33ab7873.947ce8",
                "35b13886.fbb438"
            ]
        ]
    },
    {
        "id": "7e143208.28f04c",
        "type": "function",
        "z": "26a9dc3e.c710b4",
        "name": "set_filename",
        "func": "base_path = \"/data/output/iow_data/\";\nspell_select = msg.payload.spell_select;\nwizard_name = msg.payload.wizard_name;\nmsg.filename = base_path + spell_select +\n\"/\" +wizard_name + \"_\" + msg._msgid + \".json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "ceca2b09.ab6ab8"
            ]
        ]
    },
    {
        "id": "ceca2b09.ab6ab8",
        "type": "file",
        "z": "26a9dc3e.c710b4",
        "name": "write_to_file",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1130,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fa19c895.94f9b8",
        "type": "ui_chart",
        "z": "26a9dc3e.c710b4",
        "name": "",
        "group": "9a42c44f.4eb0b8",
        "order": 1,
        "width": "12",
        "height": "12",
        "label": "accel_chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d6a188.19d9e",
        "type": "function",
        "z": "26a9dc3e.c710b4",
        "name": "accel_to_chart",
        "func": "\naccel_data = msg.payload.accel_data\n\n\naccel_object = {series : [\"X\", \"Y\", \"Z\"],\n                data: [[],[],[]],\n                labels : [\"X\", \"Y\", \"Z\"]};\n\n\nfor (let i=0; i < accel_data.timestamp.length; i++) {\n    x = accel_data.timestamp[i]\n    accel_object.data[0].push({x : x,\n        y : accel_data.x[i]\n    });\n    accel_object.data[1].push({x : x,\n        y : accel_data.y[i]\n    });\n    accel_object.data[2].push({x : x,\n        y : accel_data.z[i]\n    });\n}\n\nmsg.payload = [accel_object]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 520,
        "wires": [
            [
                "fa19c895.94f9b8"
            ]
        ]
    },
    {
        "id": "33ab7873.947ce8",
        "type": "function",
        "z": "26a9dc3e.c710b4",
        "name": "gyro_to_chart",
        "func": "\ngyro_data = msg.payload.gyro_data\n\n\ngyro_object = {series : [\"alpha\", \"beta\", \"gamma\"],\n               data: [[],[],[]],\n               labels : [\"alpha\", \"beta\", \"gamma\"]};\n\n\nfor (let i=0; i < gyro_data.timestamp.length; i++) {\n    x = gyro_data.timestamp[i]\n    gyro_object.data[0].push({x : x,\n        y : gyro_data.x[i]\n    });\n    gyro_object.data[1].push({x : x,\n        y : gyro_data.y[i]\n    });\n    gyro_object.data[2].push({x : x,\n        y : gyro_data.z[i]\n    });\n}\n\nmsg.payload = [gyro_object]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 640,
        "wires": [
            [
                "4502c90d.b9dfb8"
            ]
        ]
    },
    {
        "id": "4502c90d.b9dfb8",
        "type": "ui_chart",
        "z": "26a9dc3e.c710b4",
        "name": "",
        "group": "9a42c44f.4eb0b8",
        "order": 2,
        "width": "12",
        "height": "12",
        "label": "gyro_chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1190,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "35b13886.fbb438",
        "type": "function",
        "z": "26a9dc3e.c710b4",
        "name": "bar_chart_participation",
        "func": "\nwizard_name = msg.payload.wizard_name;\nspell_name = msg.payload.spell_select;\n\nvar p_counts = flow.get('p_counts')||{};\n\n\nspell_list = [\"choose\",\n              \"alohomora\",\n              \"wingardium-leviosa\",\n              \"lumos\",\n              \"reparo\"];\nif (wizard_name in p_counts) {\n    p_counts[wizard_name][spell_list.indexOf(spell_name)]+=1;\n} else {\n    p_counts[wizard_name] = [0, 0, 0, 0, 0];\n    p_counts[wizard_name][spell_list.indexOf(spell_name)]+=1;\n}\n\nflow.set('p_counts', p_counts);\n\n\n\nbar_object = { \"series\" : [],\n               \"data\" : [],\n               \"labels\" : spell_list\n};\n\nfor (var name in p_counts) {\n    bar_object[\"series\"].push(name);\n    bar_object[\"data\"].push(p_counts[name]);\n}\n\nmsg.payload = [bar_object];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "23d3daa7.9c5316",
                "fc13f5d4.e62598"
            ]
        ]
    },
    {
        "id": "23d3daa7.9c5316",
        "type": "debug",
        "z": "26a9dc3e.c710b4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1450,
        "y": 80,
        "wires": []
    },
    {
        "id": "fc13f5d4.e62598",
        "type": "ui_chart",
        "z": "26a9dc3e.c710b4",
        "name": "",
        "group": "60c94581.ad625c",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1290,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "495ea05d.c0606",
        "type": "exec",
        "z": "b1026e70.97abb",
        "command": "zip -r \"/data/output/iow_data_\"$(date +%H-%M-%m-%d-%Y) /data/output/iow_data",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 660,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7a0ac7ae.e9d058",
        "type": "inject",
        "z": "b1026e70.97abb",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "495ea05d.c0606"
            ]
        ]
    }
]